.navigation{
    background-color: #C996A5 ;
    display: flex;
    justify-content: space-around ;
    height: 100px;
    align-items: center ;
    
}
.navigation:hover{
    background-color: coral ;
}
.nav{
    display: flex ;
    justify-content: space-between;
    width: 700px ;
}
.nav-main{
    display: flex;
    justify-content: flex-start ;
}
li{
    list-style-type: none ;
    color : white ;
}
.btn-login{
    height: 40px;
    width: 80px ;
    background-color: white ;
}
.btn-get{
    height: 40px;
    width: 90px;
    background-color: rgb(28, 185, 224);
    color: white;
}
button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 4%;

}
.bouton{

    display: flex;
    justify-content: space-between;
    width: 200px;
}
.section1{
    background-color: #C996A5 ;
    display: flex;
    justify-content: space-around;
    align-items: center ;
}
.btn-watch{
    height: 50px;
    width: 150px;
    background-color: white;

}
.section2{
    display: flex;
    justify-content: space-around ;
    align-items: center ;
}
.div2{
    background-color: rgb(255, 238, 0)  ;
    height: 350px;
}
.div3{
    background-color: rgb(0, 128, 90) ;
    height: 350px;
}
.div4{
    background-color: rgb(0, 217, 255) ;
    height: 350px;
}
.img1{
    color: rgb(0, 255, 242) ;
    width: 50px;
    height: 100px ;
}
.img2{
    width: 50px;
    height: 100px ;
    color : rgb(184, 164, 164) ;
}
.img3{
    width: 50px;
    height: 100px ;
    color : rgb(255, 255, 0) ;
}
.start1{
    height: 50px;
    width: 150px;

}
.start2{
    height: 50px;
    width: 150px;
}
.btn-explore{
    height: 50px;
    width: 150px;
}
.section3{
    display: flex ;
    justify-content: space-around;
    align-items: center ;
    height: 300px;
}
.img4{
    height: 60px;
    width: 160px;
}
.img5{
    height: 60px;
    width: 160px;
}
.img6{
    height: 60px;
    width: 160px;
}
.img7{
    height: 60px;
    width: 160px;
}
.img8{
    height: 60px;
    width: 160px;
}
.section4{
    display: flex ;
    justify-content: space-around;
    height: 500px;
}
.img9{
    height:250px;
    width:400px;
}
.img10{
    height:250px;
    width:400px;
}
.img11{
    height:250px;
    width:400px;
}
.terms{
    background-color: rgb(216, 208, 208);
    display : flex ;
    justify-content: center ;
    
}
.section5{
    background-color: rgb(26, 26, 37) ;
    display: flex ;
    justify-content: space-around ;
    align-items: center ;
    height : 350px ;
}
.rights{
    background-color:  rgb(26, 26, 37);
    display: flex;
    justify-content: center ;
}